* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
}
div.container {
  background-color: #fafafa;
}
.sr-only,
header .header .icon-search form label,
section.newsletter form label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.flex,
header .header,
header .header .icon-search,
header .header .wrapper-destiny,
header .header .wrapper-destiny .destiny,
header .nav-bar .links-container,
header .nav-bar .links-container .links:nth-child(1),
section.purchase-information .purchase-container,
section.purchase-information .purchase-container .purchase,
section.partners .partners-wrapper,
section.products .product-queue,
section.products .product-queue .product .image-price .colors,
article,
article .banner-article,
article picture,
section.newsletter,
footer .footer-container,
footer .footer-container .networking,
footer .footer-container .payment-methods,
footer .footer-container .developed,
.modal-wrapper,
.modal-wrapper .modal-content .modal-email .modal-title,
.modal-wrapper .modal-content .modal-email form .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search {
  background-color: #faa500;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
}
li {
  list-style: none;
}
header {
  background-color: white;
}
header .alert {
  background-color: #353535;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.3rem;
  margin-bottom: 3rem;
}
header .header {
  width: 85%;
  margin: 0 auto 2rem;
  gap: 10rem;
}
header .header.show {
  width: 95%;
  gap: 7rem;
}
header .header .icon-search {
  gap: 6rem;
  width: 55%;
}
header .header .icon-search .menu-mobile {
  display: none;
}
header .header .icon-search form {
  position: relative;
  width: 100%;
}
header .header .icon-search form input {
  padding: 1rem;
  border: none;
  border-radius: 0.7rem;
  background-color: #efefef;
  color: #353535;
  width: 100%;
}
header .header .icon-search form .search {
  position: absolute;
  right: 0;
  width: 25%;
}
header .header .wrapper-destiny {
  gap: 3rem;
}
header .header .wrapper-destiny .destiny-mobile {
  display: none;
}
header .header .wrapper-destiny .destiny-mobile .close-search {
  display: none;
  width: 80%;
}
header .header .wrapper-destiny .destiny {
  gap: 0.5rem;
  cursor: pointer;
}
header .header .wrapper-destiny .destiny:nth-child(4) {
  border: 0.1rem solid #faa500;
  border-radius: 0.7rem;
  padding: 0.9rem;
}
header .header .wrapper-destiny .destiny:hover {
  color: #faa500;
}
header .line {
  width: 100%;
  height: 0.3rem;
  background-color: #efefef;
}
header .nav-bar .menu-close {
  display: none;
}
header .nav-bar .links-container {
  gap: 5rem;
  padding: 2rem;
  margin: auto;
  width: 52%;
}
header .nav-bar .links-container .links {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
}
header .nav-bar .links-container .links:nth-child(1) {
  gap: 0.6rem;
}
header .nav-bar .links-container .links a {
  text-decoration: none;
  color: #353535;
}
header .nav-bar .links-container .links a:hover {
  color: #faa500;
} 
section.banner {
  margin-bottom: 2rem;
}
section.banner .swiper-slide {
  position: relative;
}
section.banner .swiper-slide img {
  width: 100%;
}
section.banner .swiper-slide .promotions {
  position: absolute;
  top: 23%;
  left: 14%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}
section.banner .swiper-slide .promotions h1 {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}
section.banner .swiper-slide .promotions p {
  width: 70%;
  font-size: 2rem;
  color: white;
}
section.banner .swiper-slide .promotions .search {
  width: 25%;
  font-size: 1.4rem;
  font-weight: 700;
}
section.banner .swiper-pagination-bullet {
  opacity: 1;
  background-color: transparent;
  border: 0.1rem solid #faa500;
}
section.banner .swiper-pagination-bullet-active {
  background-color: #faa500;
}
section.banner .swiper-button-next,
section.banner .swiper-button-prev {
  color: black;
}
section.purchase-information {
  margin-bottom: 5rem;
}
section.purchase-information h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
section.purchase-information .purchase-container {
  gap: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
section.purchase-information .purchase-container .purchase {
  gap: 1.5rem;
  background-color: #efefef;
  padding: 0.8rem;
  border-radius: 0.7rem;
}
section.purchase-information .purchase-container .purchase h3 {
  font-size: 1.3rem;
}
section.purchase-information .purchase-container .purchase p {
  font-size: 1.1rem;
}
section.purchase-information .swiper {
  display: none;
}
section.partners {
  padding-bottom: 5rem;
}
section.partners h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
section.partners .partners-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.32rem;
}
section.partners .partners-wrapper img {
  width: 15%;
}
section.partners .swiper {
  display: none;
}
section.products {
  margin-bottom: 5rem;
}
section.products .swiper {
  width: 82%;
}
section.products .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3rem;
}
section.products .swiper-button-next,
section.products .swiper-button-prev {
  color: black;
}
section.products .product-queue {
  gap: 5rem;
}
section.products .product-queue .product .image-price {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}
section.products .product-queue .product .image-price img {
  width: 95%;
}
section.products .product-queue .product .image-price .colors {
  gap: 0.3rem;
}
section.products .product-queue .product .image-price .colors div {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
}
section.products .product-queue .product .image-price .colors div.beige {
  background-color: #deac71;
}
section.products .product-queue .product .image-price .colors div.pink {
  background-color: #d37164;
}
section.products .product-queue .product .image-price .colors div.light-blue {
  background-color: #6497d3;
}
section.products .product-queue .product .image-price .colors div.dark-blue {
  background-color: #3c3b79;
}
section.products .product-queue .product .image-price p {
  font-weight: 700;
}
section.products .product-queue .product .description {
  margin-bottom: 0.8rem;
}
section.products .product-queue .product .description h3 {
  font-size: 1.6rem;
  font-weight: 400;
}
section.products .product-queue .product .description small {
  font-size: 1rem;
  text-align: justify;
  line-height: normal;
}
section.products .product-queue .product .search {
  width: 80%;
  text-align: center;
  padding: 0;
  border-radius: 0.4rem;
}
article {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 5rem;
}
article .banner-article,
article picture {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
article .banner-article h2,
article .banner-article p,
article picture h2,
article picture p {
  display: none;
}
article .banner-article img,
article picture img {
  width: 82%;
}
section.newsletter {
  border-bottom: 0.2rem solid #efefef;
  border-top: 0.2rem solid #efefef;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 3rem;
  padding: 4rem;
}
section.newsletter form {
  position: relative;
  width: 45%;
}
section.newsletter form input {
  padding: 1rem;
  border: none;
  border-radius: 0.7rem;
  background-color: #efefef;
  color: #353535;
  width: 100%;
}
section.newsletter form .search {
  position: absolute;
  right: 0;
  width: 25%;
}
section.acess-information {
  margin-bottom: 5rem;
}
section.acess-information .acess-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 7rem;
}
section.acess-information .acess-container ul {
  display: -ms-grid;
  display: grid;
  gap: 1.6rem;
}
section.acess-information .acess-container ul::before {
  content: attr(aria-label);
  font-weight: 700;
  font-size: 1.6rem;
}
section.acess-information .acess-container ul .title-information {
  display: none;
}
section.acess-information .acess-container ul li {
  font-size: 1.2rem;
  cursor: pointer;
}
section.acess-information .acess-container ul li:hover {
  color: #faa500;
}
footer {
  background-color: #353535;
  padding: 3rem;
  width: 100%;
}
footer .footer-container {
  width: 82%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
}
footer .footer-container img {
  width: 70%;
}
footer .footer-container .networking,
footer .footer-container .payment-methods,
footer .footer-container .developed {
  gap: 1.5rem;
}
footer .footer-container .developed .developed-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 0.2rem;
}
footer .footer-container .developed .developed-wrapper h4 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
footer .footer-container .developed .developed-wrapper img {
  width: 70%;
} 
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.modal-wrapper.show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
.modal-wrapper .modal-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  background-color: white;
  position: relative;
}
.modal-wrapper .modal-content .close {
  position: absolute;
  top: -4%;
  right: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.modal-wrapper .modal-content .modal-email {
  display: -ms-grid;
  display: grid;
  margin: auto;
  gap: 2.5rem;
  width: 100%;
}
.modal-wrapper .modal-content .modal-email .modal-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.5rem;
}
.modal-wrapper .modal-content .modal-email .modal-title h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #464b54;
}
.modal-wrapper .modal-content .modal-email .text {
  color: #787d83;
  font-size: 2rem;
  text-align: center;
}
.modal-wrapper .modal-content .modal-email .text p {
  line-height: 2rem;
}
.modal-wrapper .modal-content .modal-email .text p span {
  font-weight: 700;
}
.modal-wrapper .modal-content .modal-email form {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  width: 75%;
  margin: auto;
}
.modal-wrapper .modal-content .modal-email form input {
  padding: 1rem;
  border: 0.1rem solid #c4c4c4;
  border-radius: 0.7rem;
}
.modal-wrapper .modal-content .modal-email form .search {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.6rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (max-width: 1135px) {
  html {
      font-size: 60.5%;
  }
}
@media screen and (max-width: 1135px) {
  html {
      font-size: 58.5%;
  }
}
@media screen and (max-width: 1331px) {
  header .header {
      gap: 9rem;
  }
}
@media screen and (max-width: 1305px) {
  header .header {
      gap: 8rem;
  }
}
@media screen and (max-width: 1279px) {
  header .header {
      gap: 7rem;
  }
}
@media screen and (max-width: 1253px) {
  header .header {
      gap: 6rem;
  }
}
@media screen and (max-width: 1227px) {
  header .header {
      gap: 5rem;
  }
}
@media screen and (max-width: 1227px) {
  header .header {
      width: 90%;
  }
}
@media screen and (max-width: 1071px) {
  header .header {
      gap: 4rem;
  }
  header .header .icon-search {
      gap: 4rem;
  }
}
@media screen and (max-width: 1048px) {
  header .header .wrapper-destiny {
      gap: 2rem;
  }
}
@media screen and (max-width: 1180px) {
  header .nav-bar {
      width: 70%;
  }
}
@media screen and (max-width: 1180px) {
  section.purchase-information .purchase-container {
      display: none;
  }
  section.purchase-information .swiper {
      display: block;
      width: 85%;
  }
  section.purchase-information .swiper .swiper-wrapper .purchase {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 1.5rem;
      background-color: #efefef;
      padding: 0.8rem;
      border-radius: 0.7rem;
      width: 90%;
      margin: auto;
  }
  section.purchase-information .swiper .swiper-wrapper .purchase h3 {
      font-size: 1.3rem;
  }
  section.purchase-information .swiper .swiper-wrapper .purchase p {
      font-size: 1.1rem;
  }
  section.purchase-information .swiper .swiper-button-next,
  section.purchase-information .swiper .swiper-button-prev {
      color: black;
  }
  section.purchase-information .swiper .swiper-button-next::after,
  section.purchase-information .swiper .swiper-button-next::after,
  section.purchase-information .swiper .swiper-button-prev::after,
  section.purchase-information .swiper .swiper-button-prev::after {
      font-size: 2rem;
  }
  section.purchase-information .swiper .swiper-button-prev {
      left: 0;
  }
  section.partners .partners-wrapper {
      gap: 2rem;
  }
}
@media screen and (max-width: 641px) {
  html {
      font-size: 60%;
  }
  div.container {
      background-color: #ffffff;
  }
  header .header {
      margin: 0 auto 0;
      padding-bottom: 3rem;
      gap: 8rem;
  }
  header .header .icon-search {
      gap: 2rem;
  }
  header .header .icon-search .menu-mobile {
      display: block;
      cursor: pointer;
  }
  header .header .icon-search form {
      display: none;
  }
  header .header .icon-search form.show {
      display: block;
  }
  header .header .wrapper-destiny .destiny {
      display: none;
  }
  header .header .wrapper-destiny .destiny-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 4rem;
  }
  header .header .wrapper-destiny .destiny-mobile img {
      cursor: pointer;
  }
  header .line {
      display: none;
  }
  header .nav-bar {
      width: 100%;
      height: 100%;
      background-color: white;
      display: none;
      position: fixed;
      top: 0;
      z-index: 2;
  }
  header .nav-bar.show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  header .nav-bar .menu-close {
      position: absolute;
      top: 4%;
      left: 4%;
      cursor: pointer;
      display: block;
  }
  header .nav-bar .links-container {
      gap: 3rem;
      padding: 0;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  header .nav-bar .links-container .links {
      font-size: 2rem;
  }
  section.banner .swiper-slide .promotions h1 {
      width: 58%;
      line-height: 4.5rem;
  }
  section.banner .swiper-pagination {
      margin-bottom: 1rem;
  }
  section.banner .swiper-pagination-bullet {
      padding: 0.5rem;
  }
  section.purchase-information .swiper {
      width: 100%;
  }
  section.purchase-information .swiper .swiper-button-next,
  section.purchase-information .swiper .swiper-button-prev {
      display: none;
  }
  section.partners h2 {
      font-size: 2.4rem;
  }
  section.partners .partners-wrapper {
      display: none;
  }
  section.partners .swiper {
      display: block;
  }
  section.partners .swiper .swiper-wrapper {
      width: 90%;
      margin: auto;
  }
  section.products .swiper {
      width: 84%;
  }
}
@media screen and (max-width: 641px) and (max-width: 425px) {
  section.products .swiper {
      width: 75%;
  }
}
@media screen and (max-width: 641px) and (max-width: 590px) {
  section.products .swiper .product-queue {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
}
@media screen and (max-width: 641px) {
  section.products .swiper .product-queue .product .description small {
      font-size: 1.2rem;
  }
  section.products .swiper .product-queue .product .search {
      padding: 0.7rem;
      width: 65%;
  }
  section.products .swiper .swiper-button-next,
  section.products .swiper .swiper-button-prev {
      display: none;
  }
  article .banner-article {
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 3rem;
  }
  article .banner-article h2 {
      display: block;
      font-size: 2.4rem;
  }
  article .banner-article p {
      display: block;
      text-align: justify;
  }
  article .banner-article img {
      width: 100%;
  }
  section.newsletter {
      background-color: #fafafa;
      border-bottom: 0.4rem solid #efefef;
      border-top: 0.4rem solid #efefef;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  section.newsletter form {
      width: 90%;
  }
  section.newsletter form input {
      width: 70%;
      background-color: white;
      border: 0.1rem solid #353535;
  }
  section.acess-information .acess-container {
      width: 90%;
      margin: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  section.acess-information .acess-container ul {
      width: 100%;
  }
  section.acess-information .acess-container ul::before {
      content: none;
  }
  section.acess-information .acess-container ul .title-information {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  section.acess-information .acess-container ul .title-information h3 {
      font-size: 1.6rem;
  }
  section.acess-information .acess-container ul .title-information img {
      cursor: pointer;
  }
  section.acess-information .acess-container ul li {
      display: none;
  }
  section.acess-information .acess-container ul li.show {
      display: block;
  }
  footer .footer-container {
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 2.5rem;
  }
  footer .footer-container img {
      width: 100%;
  }
  footer .footer-container .networking,
  footer .footer-container .payment-methods,
  footer .footer-container .developed {
      gap: 2.5rem;
  }
  footer .footer-container .developed .developed-wrapper img {
      width: 100%;
  }
  .modal-wrapper .modal-content {
      width: 90%;
      padding: 4rem;
      -ms-grid-columns: none;
      grid-template-columns: none;
  }
  .modal-wrapper .modal-content .close {
      top: -7%;
  }
  .modal-wrapper .modal-content img.banner-modal {
      display: none;
  }
  .modal-wrapper .modal-content .modal-email {
      gap: 3rem;
  }
  .modal-wrapper .modal-content .modal-email form {
      width: 90%;
  }
}
@media screen and (max-width: 486px) {
  html {
      font-size: 58%;
  }
  section.banner .swiper-slide .promotions {
      top: 17%;
      left: 13%;
      gap: 1rem;
  }
  section.partners .swiper-wrapper img {
      width: 90%;
  }
  section.newsletter form {
      width: 100%;
  }
}
@media screen and (max-width: 375px) {
  section.banner .swiper-slide .promotions h1 {
      font-size: 3.5rem;
  }
  section.banner .swiper-slide .promotions p {
      font-size: 1.7rem;
  }
  section.products .swiper {
      width: 84%;
  }
}
@media screen and (max-width: 320px) {
  html {
      font-size: 56%;
  }
  header .header {
      gap: 5rem;
  }
  section.banner .swiper-slide .promotions {
      top: 17%;
      gap: 0.7rem;
  }
  section.banner .swiper-slide .promotions h1 {
      font-size: 3rem;
  }
  section.banner .swiper-slide .promotions p {
      font-size: 1.5rem;
  }
  section.products .swiper {
      width: 95%;
  }
}